@import "scss/common";

.navbar{

  font-family: 'Lato';
  background: transparent !important;
  padding: 0px !important;

  &__logoContainer{

    position: relative;

    h1{

      position: absolute;
      left: 110%;
      bottom: -120%;

      font-family: 'Lato';
      text-transform: uppercase;
      font-size: 12px;
      color: $color-dinamiza;
      letter-spacing: em(1.5px,12px);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      margin: 0;

      &:hover{
        text-decoration: none;
      }

    }
  }

  &__logo{

    max-width: rem(71px);
    height: auto;

  }

  &__menu{

    align-self: flex-end;

    ul{

      > li{

        padding: 0px 25px;

        > a{
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: em(1.3px,13px);
          padding: 0;
        }
      }
    }
  }

  &__careersContainer{

    position: relative;
    width: 71px;
    height: 71px;

    > a {

      position: absolute;
      display: flex;
      align-items: center;
      top: 100%;
      color: $color-elements;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);

      transition: color .2s;

      i {
        transform: rotate(180deg);
        margin-bottom: rem(17px);
      }
      span {
        font-family: 'Lato';
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: em(1.3px, 13px);
      }

      &:hover{
        text-decoration: none;
        color: $color-dinamiza;
      }

    }
  }

}
