@import "scss/common";

.section__dark{

  position: relative;
  display: block;
  overflow: auto;
  background-color: #303030;

  &__firstImage{
    width: 100%;
    height: rem(550px);
    position: relative;
  }

}
