@import "scss/common";

.headerPage{

  height: 100vh;
  max-height: rem(700px);

  margin-left: rem(150px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
