@import "scss/common";

.section{

  position: relative;
  display: block;
  overflow: auto;
  padding-top: rem(100px);
  padding-bottom: rem(100px);

  &__content_text{

    margin: rem(75px 0);

    h2{
      margin-bottom: rem(30px);
    }

    ul{

      margin: rem(45px 0);

      li{
        font-family: 'Lato';
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: rem(15px);

        &:before{
          content: '';
          display: inline-block;
          background-color: $color-dinamiza;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          vertical-align: top;
          margin-top: .45em;
          margin-right: rem(30px);
        }

      }
    }

  }

}
