@import '../common';

.header{

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background-color: black;

  &__payoff{

    position: absolute;
    bottom: 70px;

    h4 {
      font-family: "Lato";
      color: $color-primary-negative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.4em;
      letter-spacing: em(1.3px,13px);
      span {
        display: block;
        opacity: .8;
      }
    }

    hr{
      display: inline-block;
      width: 5px;
      height: 25px;
      background-color: $color-dinamiza;
      margin: rem(0 15px 0 0);
    }

  }

  &__textBottom{
    margin-top: rem(70px);
  }

}

.section1{

  height: rem(600px);


  > div{
    height: 100%;

    > div {
      height: 100%;
    }

  }

  &__content{
    padding: rem(60px 0);
  }

  &__image{

    position: relative;
    height: rem(600px);
    margin-top: rem(-70px);

    &:before{
      content: "";
      position: absolute;
      display: block;
      width: rem(70px);
      height: rem(150px);
      background-color: $color-primary-negative;
      bottom: 0;
      left: 0;
    }

  }

}

.section2{

  height: rem(600px);

  span{
    display: block;
    padding-bottom: rem(40px);
  }


  > div{
    height: 100%;

    > div {
      height: 100%;
    }

  }

  &__content{
    padding: rem(60px 0);
  }

  &__image{

    position: relative;
    height: rem(600px);
    margin-top: rem(-70px);

  }

}

.section3{

  display: block;
  margin-top: rem(60px);
  padding-bottom: rem(150px);

  p{
    color: #666666;
  }

  &__red{
    color: $color-dinamiza;
  }

  &__black{
    color: $color-primary;
  }

  &__logo{
    width: rem(118px);
    height: auto;
    margin-bottom: rem(40px);
  }

  a{
    display: block;
    color: $color-primary;
    margin-top: rem(60px);

    > img{
      margin-right: rem(15px);
    }

  }

}
