@import "scss/common";

.section{

  position: relative;
  display: block;
  overflow: auto;
  margin-top: rem(100px);
  margin-bottom: rem(100px);

  [data-fadeout]{
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
      background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(48,48,48,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(48,48,48,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(48,48,48,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#303030',GradientType=1 ); /* IE6-9 */
    }
  }

  &__content_text{

    margin: rem(170px 0);

    h2{
      margin-bottom: rem(30px);
    }

  }

}
