@import "scss/common";

.paragraphLine{


  margin-left: rem(15px);

  [data-title] {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 1em;
      background-color: $color-dinamiza;
      margin: rem(0 0 0 -15px);
    }
  }

}
