@import "scss/common";

.section{

  position: relative;
  padding: rem(200px 0 150px);

  h2,h3,h4,h5{
    font-family: 'Montserrat';
    font-size: rem(35px);
    line-height: em(45px,35px);
    max-width: rem(430px);
  }

  ul{

    margin: rem(45px 0);

    li{
      font-family: 'Lato';
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: rem(15px);

      &:before{
        content: '';
        display: inline-block;
        background-color: $color-dinamiza;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        vertical-align: top;
        margin-top: .45em;
        margin-right: rem(30px);
      }

    }
  }

}
