body{
  font-family: "Playfair Display";
  font-size: $size-p;
  line-height: em(23px,$size-p);
}

h1{
  font-family: "Montserrat";
}

.color-dinamiza{
  color: $color-dinamiza;
}

::selection {
  background-color: $color-dinamiza;
  color: white;
}
